.container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  flex-basis: 0;
  min-width: 0;
  transform: translateX(-100%);
  background-color: rgba(0,0,0,0.15);
  transition: all .4s;
  z-index: 5;
}

.buffer {
  overflow: hidden;
  flex-basis: 0;
  min-width: 0;
  transform: translateX(-100%);
  transition: all .4s;
  z-index: 5;
}

.open {
  transform: translateX(0);
  transition: all .4s;
  flex-basis: 25%;
  width: 25%;
  padding: 16px;
  min-width: 300px;
}

.cancel {
  margin: 0;
  width: 100px;
  margin-left: auto;
  color: #777 !important;
  border-color: #777 !important;
}

.delete {
  margin: 0;
  margin-left: 4px;
  border-color: #af3535 !important;
  color: #af3535 !important;
}

.button_primary {
  margin: 0;
}

.button_group {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.input_group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input_group_inner {
  padding-bottom: 0;
}

.input {
  width: 100%;
}
.input_group label {
  margin-top: 4px;
  font-size: .7rem;
  width: 20%;
}
.input_large {
  height: 100px;
}