.container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  flex-basis: 0;
  min-width: 0;
  transform: translateX(-100%);
  background-color: rgba(0,0,0,0.15);
  transition: all .4s;
  z-index: 5;
}

.buffer {
  overflow: hidden;
  flex-basis: 0;
  min-width: 0;
  transform: translateX(-100%);
  transition: all .4s;
  z-index: 5;
}

.open {
  transform: translateX(0);
  transition: all .4s;
  flex-basis: 30%;
  width: 30%;
  padding: 0 16px;
  min-width: 300px;
}

.cancel {
  margin: 0;
  width: 100px;
  margin-left: auto;
  color: #777 !important;
  border-color: #777 !important;
}

.delete {
  margin: 0;
  border-color: #af3535 !important;
  color: #af3535 !important;
  white-space: nowrap;
}

.delete_small {
  margin: 0;
  padding: 4px !important;
  border-color: #af3535 !important;
  color: #af3535 !important;
  white-space: nowrap;
}

.button_primary {
  margin: 0;
}

.button_group {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.input_group {
  display: flex;
  align-items: center;
}

.input_group_inner {
  padding-bottom: 0;
}

.input {
  width: 100%;
}

.input_large {
  height: 100px;
}

.loading_icon_container {
  margin-left: 6px;
  width: .8rem;
  height: .8rem;
}

.time_label {
  padding-left: 6px;
  margin-right: 6px;
}

.date_label {
  margin-right: 6px;
}

.milestone_table {
  width: 100%;
  margin: 30px 0;
  padding: 8px;
}

.milestone_container {
  background-color: #1a1f2f;
  margin: 4px 0;
  padding: 8px;
}

.new_milestone {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

.project_tab {
  width: 100%;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 8px;
}

.ml_8 {
  margin-left: 8px;
}

.mb_30 {
  margin-bottom: 30px;
}

.task_tab {
  margin-top: 30px;
}

.table_data {
  background-color: #1a1f2f;
  text-align: center;
  vertical-align: middle;
  padding: 2px 4px;
}

.max_width {
  width: 100%;
}

.new_task {
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 8px;
}

.task_table {
  width: 100%;
  margin: 0;
  margin-top: 30px;
  padding: 8px;
}