.event {
  padding: 3px;
  position: relative;
  z-index: 1;
}

.event_inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  font-size: .8rem;
  background-color: #61bd4f;
  border-radius: 4px;
  color: #fff;
}

.milestone {
  background-color: #e37a00;
}

.task {
  background-color: #293669;
}