.container {
  display: flex;
}

.button_group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  margin-top: 10px;
}

.button_primary {
  margin: 0;
}