.calendar {
  min-height: 100%;
  border: 1px solid #d6d6d6;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day_header_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid #aaa;
  background-color: #eeeeee60;
}

.day_header_inner {
  border-right: 1px solid #aaa;
  text-align: center;
}
.day_header_inner:nth-child(7) {
  border-right: none;
  text-align: center;
}

.button_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
}

.button {
  display: flex;
  justify-content: center;
  width: max-content;
  align-items: center;
  margin: 3px;
  padding: 10px;
  background-color: #293669;
  color: white;
  border: none;
  border-radius: 25px;
  font-family: inherit;
}
.button:hover {
  background-color: #007cba;
}

.add_new_button {
  background-color: #fff;
  color: inherit;
  border: 2px solid #293669;
  border-radius: 5px;
}
.add_new_button:hover {
  background-color: #007cba;
  border: 2px solid #007cba;
  color: #fff;
}