/* Test obvious change */
.container {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 10px rgba(0, 0, 0, .175);
    background-color: #fff;
}

.banner {
    height: 6px;
    background-color: #007cba;
}

.logo_container {
    height: 100%;
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #293669;
    margin-right: auto;
}

.flex_container {
    z-index: 10;
    height: 50px;
    display: flex;
    align-items: center;
}

.user_menu_button {
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 15px 0 0;
    background-color: #fff;
    color: inherit;
    border: 2px solid #007cba;
}

.user_menu_button:hover {
    color: #fff;
    background-color: #007cba;
    border: 2px solid #007cba;
}

.button {
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 100px;
}

.button:hover {
    background-color: #fff;
    color: #293669;
}

.modal {
    z-index: 4;
    transition: transform 150ms ease-in-out 0s, opacity 150ms ease-in-out 0s;
    transform-origin: right top;
    transform: translate3d(0px, 0px, 0px) scale(0);
    position: absolute;
    top: 55px;
    right: 20px;
    height: 700px;
    width: 300px;
    border-radius: 4px;
    box-shadow: rgba(6, 22, 33, 0.2) 0px 2px 6px;
    background-color: #fff;
}

.modal_header {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #293669;
    color: #fff;
}

.open {
    transform: translate3d(0px, 0px, 0px) scale(1);
}

.nav_logo {
    margin-left: 10px;
}