.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.container input {
  width: 100%;
}

.dropdown {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.closed {
  display: none;
}

.selected {
  padding: 10px;
  color: #111;
  background-color: #bbb;
}

.not_selected {
  padding: 10px;
}