.container {
  flex-grow: 1;
  margin-right: 8px;
  width: 100%;
}

.container input {
  width: 100%;
}

.dropdown {
  width: 100%;
}

.closed {
  display: none;
}

.selected {
  padding: 10px;
  color: #222;
  background-color: aliceblue;
}

.not_selected {
  padding: 10px;
}