.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.position_container {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modal {
  border-radius: 4px;
  box-shadow: rgba(6, 22, 33, 0.2) 0px 2px 6px;
}

.open {
  display: block;
}
