.inner {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selected_data_container {
  min-height: 30px;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: solid 1px rgba(0, 159, 227, 0.3);
}

.input_group {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px;
}

.text_area {
  width: 100%;
}

.selected_item {
  max-width: 90%;
  overflow: hidden;
}

.button {
  margin: 0;
  margin-left: 8px;
}

.input {
  width: 100%;
}