.container {
}

.grid_header {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgba(0, 0, 0, 0.2);
}

.grid_header_inner {
  display: flex;
  justify-content: center;
}

.grid_body {
  display: grid;
  margin-top: 5px;
  height: 80px;
  gap: 5px;
  grid-template-columns: repeat(6, 1fr);
}

.grid_vertical_header {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

.grid_name {
  display: flex;
  align-items: center;
  padding-left: 10px;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid_am {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid_pm {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid_split {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

select {
  color: black;
  width: 100%;
}

.week_tabs {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.tab {
  margin: 0px;
}

.unassigned {
  color: #007cba;
}
.unassigned option {
  color: black;
}